@model CleanArchtectureMVC.Application.DTOs.CategoryDTO

@{
    ViewData["TItle"] = "Edit Category";
}

<h2>@ViewData["Title"]</h2>

<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Id)
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Id)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>